.panel
	= link_to "#" do
		h4 Mon compte
	ul
		li
			= link_to "#" do
				'Coordonnées
		li
			= link_to "#" do
				'Mot de passe
		li
			= link_to "#" do
				'Commandes
		li
			= link_to "#" do
				'Mes favoris
		li
			= link_to "#" do
				'Mes derniers achats
		li
			= link_to "#" do
				'Carnet d'adresses
				