.panel
	= link_to "/connect/myaccount" do
		h4 Mon compte
	ul
		li
			= link_to "/connect/coordonnee" do
				'Mes coordonnées
		li
			= link_to "/connect/motdepasse" do
				'Changer mon mot de passe
		li
			= link_to "/connect/carnetadresse" do
				'Mon carnet d'adresse
		li
			= link_to "/connect/command" do
				'Mes commandes
		li
			= link_to "/connect/favoris" do
				'Mes favoris
				