.margin
	h2 Bonjour #{current_user.gender} #{current_user.name} #{current_user.firstname}, bienvenue dans votre espace client
	p C'est ici que vous pouvez suivre et mettre à jour toutes les informations vous concernant.
