.faceting.large-3.medium-3.columns

	dl class="accordion" data-accordion=''
		dd
			a href="#categorie"
	    		'Les rubriques
	   		div#categorie.content
	     		ul
					li
						input type="checkbox" name="cat" value="Bricolage & extérieur"
							'Actualité
					li
						input type="checkbox" name="cat" value="Bricolage & extérieur"
							'Consommation
					li
						input type="checkbox" name="cat" value="Maison & décoration"
							'Bons plans

		
