h2 Caractéristique technique
table
	tr
		th
			'Nom
		th
			'Caractéristique

	
	tr
		td
			input placeholder="" type="text" /
		td
			input placeholder="" type="text" /
	tr
		td
			input placeholder="" type="text" /
		td
			input placeholder="" type="text" /
	tr
		td
			input placeholder="" type="text" /
		td
			input placeholder="" type="text" /
	tr
		td
			input placeholder="" type="text" /
		td
			input placeholder="" type="text" /
	tr
		td
			input placeholder="" type="text" /
		td
			input placeholder="" type="text" /
	tr
		td
			input placeholder="" type="text" /
		td
			input placeholder="" type="text" /
	tr
		td
			input placeholder="" type="text" /
		td
			input placeholder="" type="text" /