h2 Catégorie
table
	tr
		th
			'
		th colspan="3"
			'Nom

	
	tr

		td
			input type="radio" name="cat" value="all sected"
		td colspan="3"
			'Bricolage & Extérieur

	tr
		td
			input type="radio" name="cat" value="all sected"
		
		td 
			'
		td colspan="2"
			'&#8627; Jardinage

	tr
		td
			input type="radio" name="cat" value="all sected"
		
		td
			'
		td
			'
		td
			'&#8627; Outils

	tr
		td
			input type="radio" name="cat" value="all sected"
		
		td
			'
		td
			'
		td
			'&#8627; Jardin bio

	tr
		td
			input type="radio" name="cat" value="all sected"
		
		td
			'
		td
			'
		td
			'&#8627; Traitement des eaux

	
	tr
		td
			input type="radio" name="cat" value="all sected"
		
		td 
			'
		td colspan="2"
			'&#8627; Energie solaire

	tr
		td
			input type="radio" name="cat" value="all sected"
		
		td 
			'
		td colspan="2"
			'&#8627; Animalerie

	tr
		td
			input type="radio" name="cat" value="all sected"
		
		td
			'
		td
			'
		td
			'&#8627; Chat et chien

	tr
		td
			input type="radio" name="cat" value="all sected"
		
		td
			'
		td
			'
		td
			'&#8627; Oiseaux

	tr
		td
			input type="radio" name="cat" value="all sected"
		
		td
			'
		td
			'
		td
			'&#8627; Poissons

	tr
		td
			input type="radio" name="cat" value="all sected"
		
		td
			'
		td
			'
		td
			'&#8627; Reptiles et amphibiens

	tr
		td
			input type="radio" name="cat" value="all sected"
		
		td
			'
		td
			'
		td
			'&#8627; Elevage et ferme

	tr
		td
			input type="radio" name="cat" value="all sected"
		
		td
			'
		td
			'
		td
			'&#8627; Animaux sauvages
