.right
	.button.add.marginbot
		a href="#" Enregistrer un fiche technique
.clear
	
h2 Images
table
	tr
		th
			input type="checkbox" name="cat" value="all sected"
		th
			'Nom
		th
			'Taille
		th
			'Date

	
	tr
		td
			input type="checkbox" name="cat" value="all sected"
		td
			'fichetechniquecalcia.pdf
		td
			'152 Mo
		td
			'23 juillet 2014