.addproductimage
	.right
		.button.add.marginbot
			a href="#" Ajouter une image
	.clear
	
	h2 Images
	table
		tr
			th
				input type="checkbox" name="cat" value="all sected"
			th
				'View
			th
				'Nom
			th
				'Dimension
	
		
		tr
			td
				input type="checkbox" name="cat" value="all sected"
			td
				= image_tag "product/ciment1.jpg"
			td
				'ciment1.jpg
			td
				'300x300
		tr
			td
				input type="checkbox" name="cat" value="all sected"
			td
				= image_tag "product/ciment2.jpg"
			td
				'ciment2.jpg
			td
				'300x300
		tr
			td
				input type="checkbox" name="cat" value="all sected"
			td
				= image_tag "product/ciment3.jpg"
			td
				'ciment3.jpg
			td
				'300x300
		tr
			td
				input type="checkbox" name="cat" value="all sected"
			td
				= image_tag "product/ciment4.jpg"
			td
				'ciment4.jpg
			td
				'300x300
		tr
			td
				input type="checkbox" name="cat" value="all sected"
			td
				= image_tag "product/ciment5.jpg"
			td
				'ciment5.jpg
			td
				'300x300