.addproductimage
	.clear
	
	h2 Relier à un producteur
	table
		tr
			th
				
			th
				'Nom et prenom
			th
				'Région
			th
				'Spécialité
	
		
		tr
			td
				input type="checkbox" name="cat" value="all sected"
			td
				'Calcia
			td
				'Franche-Comté
			td
				'Ciment
		