h1 Toutes les catégories

button.defaultbottom type="submit" 
  		a href="#"
  			'Ajouter une catégorie
	

table
	tr
		th
			'id
		th
			'Nom
		th
			'Description
		th
			'Action
	
	tr
		td
			'55245
		td
			'Briocalge & extérieur
		td
			'Lorem Ipsum
		td
			a href="#"
				'Modifier
			a href="#"
				'Supprimer
			
	
	tr
		td
			'57454
		td
			'Outils
		td
			'Lorem Ipsum
		td
			a href="#"
				'Modifier
			a href="#"
				'Supprimer
	
	tr
		td
			'12254
		td
			'Jardin
		td
			'Lorem Ipsum
		td
			a href="#"
				'Modifier
			a href="#"
				'Supprimer
	
	tr
		td
			'55245
		td
			'Chat & chien
		td
			'Lorem Ipsum
		td
			a href="#"
				'Modifier
			a href="#"
				'Supprimer
	
	tr
		td
			'57454
		td
			'Poissons
		td
			'Lorem Ipsum
		td
			a href="#"
				'Modifier
			a href="#"
				'Supprimer
	
	tr
		td
			'12254
		td
			'Resptiles & Amphibiens
		td
			'Lorem Ipsum
		td
			a href="#"
				'Modifier
			a href="#"
				'Supprimer
				
		
	