h1 Toutes les produits

button.defaultbottom type="submit" 
  		a href="#"
  			'Ajouter un produit
	

table
	tr
		th
			'ref
		th
			'Nom
		th
			'Producteur
		th
			'Description
		th
			'Stock
		th
			'Prix
		th
			'Fiche produit
		th
			'Action
	
	tr
		td
			span
				'Réf. Manavi : 1368130
			span
				'Ref. CALCIA : 2000126
			span
				'Code EAN : 3452112002354
		td
			'CIMENT SUPER BLANC CEM II/B-LL
		td
			'Calcia
		td
			'Le ciment blanc CEM II/B-LL 42,5 R CE CP2 NF est destiné aux ouvrages en béton...
		td
			'105
		td
			'Prix
		td
			'fiche-produit.pdf
		td
			a href="#"
				'Modifier
			a href="#"
				'Supprimer
			
	
	tr
		td
			span
				'Réf. Manavi : 1368130
			span
				'Ref. CALCIA : 2000126
			span
				'Code EAN : 3452112002354
		td
			'CIMENT SUPER BLANC CEM II/B-LL
		td
			'Calcia
		td
			'Le ciment blanc CEM II/B-LL 42,5 R CE CP2 NF est destiné aux ouvrages en béton...
		td
			'105
		td
			'Prix
		td
			'fiche-produit.pdf
		td
			a href="#"
				'Modifier
			a href="#"
				'Supprimer
				
		
	