.slidebar_backoffice
	a.tableaubord href= "#"
		'Tableau de bord
	
	
	
	ul
		li			
			span
				'Produits				
			ul
				li
					a href= "#"
						'Tous les produits
				li	
					a href= "#"
						'Ajouter
		li			
			span
				'Producteurs				
			ul
				li
					a href= "#"
						'Tous les producteurs
				li	
					a href= "#"
						'Ajouter
		
		li			
			span
				'Catégorie				
			ul
				li
					a href= "#"
						'Toutes les catégories
				li
					a href= "#"
						'Ajouter
						
		li			
			span
				'Articles				
			ul
				li
					a href= "#"
						'Tous les articles
				li
					a href= "#"
						'Ajouter
						
		li			
			span
				'Médias				
			ul
				li
					a href= "#"
						'Tous les médias
				li
					a href= "#"
						'Ajouter
						
		li			
			a href= "#"
				span
					'Réglages				
			
		
					