= render 'backoffice/header'



.content_backoffice	
	
	h1.left Gérer les catégories
	
	.right
		.button.supr
			a href="#" Supprimer
	.right
		.button.add
			a href="/backoffice/addcategory" Ajouter une catégories
	.clear

	table
		tr
			th
				input type="checkbox" name="cat" value="all sected"
			th colspan="3"
				'Nom
			th
				'Produits ( nb )
			th
				'Action
		
		tr

			td
				input type="checkbox" name="cat" value="all sected"
			td colspan="3"
				'Bricolage & Extérieur
			td
				'51
			td
				a href="/backoffice/addcategory"
					'Editer
		tr
			td
				input type="checkbox" name="cat" value="all sected"
			
			td 
				'
			td colspan="2"
				'&#8627; Jardinage
			td
				'10
			td
				a href="/backoffice/addcategory"
					'Editer
		tr
			td
				input type="checkbox" name="cat" value="all sected"
			
			td
				'
			td
				'
			td
				'&#8627; Outils
			td
				'2
			td
				a href="/backoffice/addcategory"
					'Editer
		tr
			td
				input type="checkbox" name="cat" value="all sected"
			
			td
				'
			td
				'
			td
				'&#8627; Jardin bio
			td
				'5
			td
				a href="/backoffice/addcategory"
					'Editer
		tr
			td
				input type="checkbox" name="cat" value="all sected"
			
			td
				'
			td
				'
			td
				'&#8627; Traitement des eaux
			td
				'3
			td
				a href="/backoffice/addcategory"
					'Editer
		
		tr
			td
				input type="checkbox" name="cat" value="all sected"
			
			td 
				'
			td colspan="2"
				'&#8627; Energie solaire
			td
				'10
			td
				a href="/backoffice/addcategory"
					'Editer
		tr
			td
				input type="checkbox" name="cat" value="all sected"
			
			td 
				'
			td colspan="2"
				'&#8627; Animalerie
			td
				'10
			td
				a href="/backoffice/addcategory"
					'Editer
		tr
			td
				input type="checkbox" name="cat" value="all sected"
			
			td
				'
			td
				'
			td
				'&#8627; Chat et chien
			td
				'2
			td
				a href="/backoffice/addcategory"
					'Editer
		tr
			td
				input type="checkbox" name="cat" value="all sected"
			
			td
				'
			td
				'
			td
				'&#8627; Oiseaux
			td
				'5
			td
				a href="/backoffice/addcategory"
					'Editer
		tr
			td
				input type="checkbox" name="cat" value="all sected"
			
			td
				'
			td
				'
			td
				'&#8627; Poissons
			td
				'3
			td
				a href="/backoffice/addcategory"
					'Editer
		tr
			td
				input type="checkbox" name="cat" value="all sected"
			
			td
				'
			td
				'
			td
				'&#8627; Reptiles et amphibiens
			td
				'3
			td
				a href="/backoffice/addcategory"
					'Editer
		tr
			td
				input type="checkbox" name="cat" value="all sected"
			
			td
				'
			td
				'
			td
				'&#8627; Elevage et ferme
			td
				'3
			td
				a href="/backoffice/addcategory"
					'Editer
		tr
			td
				input type="checkbox" name="cat" value="all sected"
			
			td
				'
			td
				'
			td
				'&#8627; Animaux sauvages
			td
				'3
			td
				aa href="/backoffice/addcategory"
					'Editer
		