= render 'backoffice/header'



.content_backoffice	
	
	h1 Commandes	

	table
		tr
			th
				input type="checkbox" name="cat" value="all sected"
			th
				'Id
			th
				'Nom
			th
				'Catégorie
			th
				'Reférence
			th
				'Prix ( € )
			th
				'état
			th
				'Action
		
		tr
			td
				input type="checkbox" name="cat" value="all sected"
			td
				'1545
			td
				'Lorem
			td
				'Linge de maison
			td
				'4524552
			td
				'54,30
			td
				'En cours de livraison
			td
				a href="#"
					'Voir
		tr
			td
				input type="checkbox" name="cat" value="all sected"
			td
				'1545
			td
				'Ipsum
			td
				'Bricolage
			td
				'55415258
			td
				'102,51
			td
				'En cours de livraison
			td
				a href="#"
					'Voir
		tr
			td
				input type="checkbox" name="cat" value="all sected"
			td
				'1545
			td
				'Lorem
			td
				'Linge de maison
			td
				'4524552
			td
				'54,30
			td
				'En cours de livraison
			td
				a href="#"
					'Voir
		tr
			td
				input type="checkbox" name="cat" value="all sected"
			td
				'1545
			td
				'Ipsum
			td
				'Bricolage
			td
				'55415258
			td
				'102,51
			td
				'En cours de livraison
			td
				a href="#"
					'Voir
		