= render 'backoffice/header'



.content_backoffice	
	
	h1.left Gérer les produits
	
	.right
		.button.supr
			a href="#" Supprimer
	.right
		.button.add
			a href="/backoffice/addproduct" Ajouter un produit
	.clear

	table
		tr
			th
				input type="checkbox" name="cat" value="all sected"
			th
				'Id
			th
				'Nom
			th
				'Catégorie
			th
				'Reférence
			th
				'Prix ( € )
			th
				'Quatité
			th
				'Satut
			th
				'Action
		
		tr
			tr	
				td
					input type="checkbox" name="cat" value="all sected"
				td
					'2541
				td
					'Ciment super
				td
					'Bricolage
				td
					'15423541
				td
					'2,60
				td
					'123
				td
					'Activé				
				td
					a href="#"
						'Editer
			tr
				td
					input type="checkbox" name="cat" value="all sected"
				td
					'2254
				td
					'Filtre à évier
				td
					'Bricolage
				td
					'14456563
				td
					'37
				td
					'544
				td
					'Activé				
				td
					a href="#"
						'Editer
				
			tr
				td
					input type="checkbox" name="cat" value="all sected"
				td
					'2542
				td
					'Lait nettoyant
				td
					'Soin du corp
				td
					'25441244
				td
					'8,45
				td
					'536
				td
					'Désactivé				
				td
					a href="#"
						'Editer
			tr
				td
					input type="checkbox" name="cat" value="all sected"
				td
					'2544
				td
					'Oreiller
				td
					'Maison
				td
					'5542254
				td
					'96,75
				td
					'412
				td
					'Activé				
				td
					a href="#"
						'Editer
			tr
				td
					input type="checkbox" name="cat" value="all sected"
				td
					'2566
				td
					'Panneau solaire
				td
					'Bricolage
				td
					'55422511
				td
					'375,34
				td
					'218
				td
					'Activé				
				td
					a href="#"
						'Editer