= render 'backoffice/header'

.content_backoffice	
	
	h1 Commande ( 4524552 )
	
	.large-6.columns
		h2 Commande
		.panel
			table
				tr
					td
						b
							'ID
					td
						'1545
				tr
					td
						b
							'Référence
					td
						'4524552
				tr
					td
						b
							'Catégorie
					td
						'Linge de maison
				tr
					td
						b
							'Prix ( € )
					td
						'54,30
				tr
					td
						b
							'Date de commande
					td
						'21/07/2014
				tr
					td
						b
							'Date de livraison prévue
					td
						'02/08/2014
				tr
					td
						b
							'Etat
					td
						'En cours de livraison
				tr
					td
						b
							'Paiement
					td
						'Carte bancaire
				

				
	.large-6.columns
		h2 Informations client
		.panel
			table
				tr
					td
						b
							'ID
					td
						'125426
				tr
					td
						b
							'Nom
					td
						'Smith
				tr
					td
						b
							'Prenom
					td
						'Roger
				tr
					td
						b
							'Adresse email
					td
						'smith.roger@gmail.com
				tr
					td
						b
							'Date de naissance
					td
						'12/05/1981
	.clear		
	.large-6.columns
		h2 Adresse de Facturation
		.panel
			p
				'Smith Roger
				br 152 route de Lille
				'Appartement 5
				br 59273 Villeneuve d'Ascq
	
	.large-6.columns
		h2 Adresse de Livraison
		.panel
			p
				'Smith Roger
				br 152 route de Lille
				'Appartement 5
				br 59273 Villeneuve d'Ascq
	        
	
	.large-12.columns
		h2 Article(s) commandé(s)
		.panel
			table
				tr
					th
						'Id
					th
						'Nom
					th
						'Catégorie
					th
						'Reférence
					th
						'Prix ( € )
					th
						'Quatité
				
		
				tr	
					td
						'2541
					td
						'Ciment super
					td
						'Bricolage
					td
						'15423541
					td
						'2,60
					td
						'123

				tr
					td
						'2254
					td
						'Filtre à évier
					td
						'Bricolage
					td
						'14456563
					td
						'37
					td
						'544
	.large-12.columns
		h2 Raisons du retour
		.panel
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				