.faceting.facetinglist.large-3.medium-3.columns

	dl class="accordion" data-accordion=''
		dd
			a href="#regions"
	    		'Régions
	   		div#regions.content
	     		ul
	     			li
						input type="checkbox" name="cat" value="Alsace"
							'Alsace
					li
						input type="checkbox" name="cat" value="Aquitaine"
							'Aquitaine					
					li
						input type="checkbox" name="cat" value="Auvergne"
							'Auvergne
					li
						input type="checkbox" name="cat" value="Bourgogne"
							'Bourgogne
					li
						input type="checkbox" name="cat" value="Bretagne"
							'Bretagne
					li
						input type="checkbox" name="cat" value="Centre"
							'Centre
					li
						input type="checkbox" name="cat" value="Champagne-Ardenne"
							'Champagne-Ardenne
					li
						input type="checkbox" name="cat" value="Corse"
							'Corse													
					li
						input type="checkbox" name="cat" value="Franche-comté"
							'Franche-comté
					li
						input type="checkbox" name="cat" value="Nord-Pas-de-Calais"
							'Nord-Pas-de-Calais
					
							

		dd
			a href="#taille"
	    		'Taille de l'entreprise
	   		div#taille.content
	     		ul
					li
						input type="checkbox" name="cat" value="Tissu"
							'< 24€
					li
						input type="checkbox" name="cat" value="Beton"
							'25€ - 49€
					li
						input type="checkbox" name="cat" value="Soi"
							'50€ - 99€
					li
						input type="checkbox" name="cat" value="Soi"
							'100€ - 199€
					li
						input type="checkbox" name="cat" value="Soi"
							'200€ - 499€
					li
						input type="checkbox" name="cat" value="Soi"
							'> 500€

