@mixin box_shaow_light {
  box-shadow: 1px 0px 0px 0px rgba(119, 119, 119, 0.05), 0px 1px 0px 0px rgba(119, 119, 119, 0.1), 0px -1px 0px 0px rgba(119, 119, 119, 0.15), -1px 0px 0px 0px rgba(119, 119, 119, 0.20);
  -moz-box-shadow: 1px 0px 0px 0px rgba(119, 119, 119, 0.05), 0px 1px 0px 0px rgba(119, 119, 119, 0.1), 0px -1px 0px 0px rgba(119, 119, 119, 0.15), -1px 0px 0px 0px rgba(119, 119, 119, 0.20);
  -webkit-box-shadow: 1px 0px 0px 0px rgba(119, 119, 119, 0.05), 0px 1px 0px 0px rgba(119, 119, 119, 0.1), 0px -1px 0px 0px rgba(119, 119, 119, 0.15), -1px 0px 0px 0px rgba(119, 119, 119, 0.20);
}


/* padding standard */
$padding: 5px;
$padding-medium: ($padding*2);
$padding-big: ($padding-medium*2);


/* transitions */
@mixin transition {
-webkit-transition: background .2s ease-in;
-moz-transition: background .2 ease-in;
-o-transition: background .2s ease-in;
transition: background .2s ease-in;
}



/*bouton dans formulaire*/
button, .button {
  background:$red!important;
  border:$white!important;
}
.button {
  padding:10px 15px!important;
  background:$red;
  @include transition;
  color:$white;
  width:auto;
}
.button:hover {
  background:$upred;
}


/* bouton standard */
.button { margin-top:5px; margin-bottom:0; width:100%; text-align: center; padding: $padding; @include transition; 
  a { color:  #fff; text-decoration: none; display: block;font-size:12px; }
}


/* Gros bouton */
.big-button { padding: $padding-big;
  a { display: block;}
}


/* Voir le produit */
.accessproduct { background-color: $red;padding:5px!important;
  a { text-transform: uppercase!important; }  
}

.accessproduct:hover { background-color: $upred!important; @include transition; }


/* Voir tous les producteurs */
.seeall { background: $brown; @include transition; float:right; padding:5px 10px;width:auto;}

.seeall:hover { background: $upbrown; @include transition; }


/* Voir tous les produits */
.allselection { background: url('bullet.gif') center left no-repeat ; padding-left: 12px; float: right;margin-top: 10px;
  a { color: $brown; text-decoration: underline;}
  a:hover { color: $upbrown;  @include transition;}
}


/* Lire la suite */
.read { @include transition; background:$beige!important; width:auto; padding:0; text-align:right;margin-bottom: 4px;}
.read a { color:$white; padding:5px 8px;}
.read:hover { background: $brown!important;}



/* Ajouter au panier */
.addtocard { background: $red; @include transition; }

.addtocard:hover { background: $downred; @include transition;}


/*PRODUCTEUR*/
.producerbottom {
  p {
    margin-bottom:10px;
    }
  a {
  background:$red;
  padding:5px 10px;
  color:$white;
  }
}


/*COMMANDER*/
.bigbutton {
  width:auto!important;
  a {
    text-transform:uppercase;
    font-size:20px;
  }  
}


.btnwhite {
  width:auto!important;
  background:$white!important;
  @include box_shaow_light;
  margin-right:10px;
  a {
    color:$red;
  }
}
.btnwhite:hover {
  background:$grey_light!important;
}

select {
  cursor:pointer;
}

.defaultbottom {    
    padding: 10px 15px !important;
    background:$red;
    @include transition;
    color:$white;
    text-transform:uppercase;
    font-size:20px;
    a {
      color:$white;
    }  
}
.defaultbottom:hover {
      background:$upred;
}
