/* padding standard */
$padding: 5px;
$padding-medium: ($padding*2);
$padding-big: ($padding-medium*2);


/* transitions */
@mixin transition {
-webkit-transition: background .2s ease-in;
-moz-transition: background .2 ease-in;
-o-transition: background .2s ease-in;
transition: background .2s ease-in;
}

.defaultbottom {    
    a{
      padding:5px 10px;
      background:$red;
      @include transition;
      color:$white;
    }
    a:hover {
      background:$upred;
    }
}

/*bouton dans formulaire*/
button {
  padding:5px 10px;
  background:$red;
  @include transition;
  color:$white;
}
button:hover {
  background:$upred;
}


/* bouton standard */
.button { margin-top:5px; margin-bottom:0; width:100%; text-align: center; padding: $padding; @include transition; 
  a { color:  #fff; text-decoration: none; display: block;font-size:12px; }
}


/* Gros bouton */
.big-button { padding: $padding-big;
  a { display: block;}
}


/* Voir le produit */
.accessproduct { background-color: $red;
  a { text-transform: uppercase!important; }  
}

.accessproduct:hover { background-color: $upred; @include transition; }


/* Voir tous les producteurs */
.seeall { background: $brown; @include transition; float:right; padding:5px 10px;width:auto;}

.seeall:hover { background: $upbrown; @include transition; }


/* Voir tous les produits */
.allselection { background: url('bullet.gif') center left no-repeat ; padding-left: 12px; float: right;margin-top: 10px;
  a { color: $brown; text-decoration: underline;}
  a:hover { color: $upbrown;  @include transition;}
}


/* Lire la suite */
.read { @include transition; width:auto; padding:0; text-align:right;margin-bottom: 4px;}
.read a { background: $red; color:$white; padding:5px 8px;}
.read a:hover { background: $upred;}



/* Ajouter au panier */
.addtocard { background: $red; @include transition; }

.addtocard:hover { background: $downred; @include transition;}


/*PRODUCTEUR*/
.producerbottom {
  p {
    margin-bottom:10px;
    }
  a {
  background:$red;
  padding:5px 10px;
  color:$white;
  }
}
