$white : #fff;
$black : #111;

$grey : #4D4D4D;

$gray_light : #DFDFDF;
$beige_claire     : #CAA780;
$beige_light : #DDCCB6;

$brown_dark: #534741;


$red : #BE272D;
$upred : #891D25;
$downred : #ED626C;

$brown: #A37C52;
$upbrown: #6D5238;
$downbrown: #D1A379;

$beige: #CAA780;
$upbeige: #967B60;
$downbeige: #E2D0BF;

$grey_light: #9A9A99;
$upgrey: #4D4D4D;
$downgrey: #E3E3E3;