$white            : #FFF;
$black            : #111;

$gray-light       : #ededed;
$gray             : #a7a7a7;
$gray-dark        : #575757;

$blue             : #7cdbdd;
$blue-dark        : #009091;
$blue-darker      : #004344;

$orange           : #f15a24;

$brown            : #4f1e00;


$gris: #4D4D4D;
$beige_fonce: #A37C52;
$blanc: #fff;