$blanc            : #fff;
$noir             : #111;
$gris             : #4D4D4D;
$gris_clair       : #DFDFDF;
$beige_claire     : #CAA780;
$beige_tres_clair : #DDCCB6;
$beige_fonce      : #A37C52;
$red              : #BE272D;
$marron           : #534741;
