.clear
footer.m-footer
	.footer-top
		.row
			.large-12
				span
					'Contacter le service client au 06 750 750 00

	.footer-bot.papier
		.row
		  	.large-3.medium-6.small-12.columns
		    	h4 Manavi
		    	ul
		    		li
	    				= link_to "#" do
		    				'Nos produits
					li
	    				= link_to "#" do
		    				'Nos producteurs
					li
	    				= link_to "#" do
		    				'Nos valeurs
					li
	    				= link_to "#" do
		    				'Nos actus - Le blog
			.large-3.medium-6.small-12.columns
		    	h4 Besoin d'aide ?
		    	ul
		    		li
	    				= link_to "#" do
		    				'Conditions générales de ventes
					li
	    				= link_to "#" do
		    				'Question fréquentes
					li
	    				= link_to "#" do
		    				'Nous contacter
					li
	    				= link_to "#" do
		    				'SAV
			.large-3.medium-6.small-12.columns
		    	h4 Paiement sécurisé
		    	span Achetez en toute confiance :
		    	ul
		    		li
	    				'CB
					li
	    				'CB
					li
	    				'CB
					li
	    				'CBB
			.large-3.medium-6.small-12.columns
		    	h4 Mode de livraison
		    	ul
		    		li
	    				'Livraison J+2 par la Poste Colissimo
					li
	    				'Livraison J+1 express
					li
	    				'ChronoRelais par Chronopost
