@charset "UTF-8";

@import "normalize";

@import
  "front/base/foundation_settings",
  "front/base/colors";

@import
  "front/modules/header",
  "front/modules/footer";
  
@import "front/modules/list";
@import "front/modules/home-value-prod";
@import "front/modules/home-actu";
@import "front/modules/reassurance";
@import "front/modules/newsletter-reseaux";