@charset "UTF-8";

@import "normalize";

@import
  "front/base/foundation_settings",
  "front/base/colors",
  "front/base/bottom";

@import
  "front/modules/header",
  "front/modules/footer";
  
@import "front/modules/list";
@import "front/modules/information";
@import "front/modules/home-actu";
@import "front/modules/reassurance";
@import "front/modules/newsletter-reseaux";
@import "front/modules/fil-ariane";
@import "front/modules/faceting";
@import "front/modules/switchviewproduct";
@import "front/modules/font_ico";
@import "front/modules/pageproduct";
@import "front/modules/global";
@import "front/modules/account/login";
@import "front/modules/account/myaccount";