html {
  background:#F0F0F0;
}


//HEADER
.header_backoffice {
  .header_backoffice_top {
    background:$red;
    padding:10px 20px;
    img {
      height:30px;
      display:block;
    }
    a {
      line-height:20px;
      font-size:12px;
      color:$white;
      text-transform:uppercase;
    }
  }
  .header_backoffice_nav {
    background:$grey;
    ul {
      padding:0;
      margin:0;
      li {
        cursor:pointer;
        padding:0;
        list-style:none;
        margin:0;      
        text-transform:uppercase;
        font-size:14px;
        display:inline-block;
        span {
          padding:7px 20px;
          color:$white;
          display:block;
        }
        ul {
          display:none;
          margin-left:0;
          padding:15px 0;
          li {
            text-transform:initial;
            padding:5px 20px;
  
          }
        }
        a {
          color:$white;
          display:block;
        }
      }
      li:hover {
        span {
          background:#C4BCBC;
          color:$grey;
        }
        ul {
          display:block;
          position:absolute;
          background:#C4BCBC;
          padding: 7px 0;
          top: 80px;
          z-index:1000;
          li {
            display:block;
          }
          li:hover a{
            color:$grey;
          }
        }
      }
    }
  }
}


//SLIDEBAR
.slidebar_backoffice {
  .tabs.vertical {
    background:#e1dddb;
    width:250px;
    position:absolute;
    top:0;
    bottom:0;
    margin-top:108px;
    margin-right:25px;
  }
  ul {
    padding:0;
    margin:0;
    
    li {
      padding:0;
      list-style:none;
      margin:0;      
      a {
        text-transform:uppercase;
        font-size:15px;
        padding:10px 20px;
        color:$grey;
        display:block;
      }
    }
    li:hover {
      background:#F0F0F0;
    }
  }
}

//CONTENT
.content_backoffice  {
  padding:15px 20px;
  table {
    th{
      text-align:left;
      color:$red;
      text-transform:uppercase;
      background:#DAD7D7;
      font-size: 13px;      
    }
    a {
      color:$red;
      display:block;
    }
    
  }
  .defaultbottom {
    font-size:15px;
  }
  span {
    display:block;
  }
  h2 {
    background:$grey;
    color:$white;
    font-size:15px;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    padding:5px 10px;
    margin-bottom:3px;
  }
  .button.supr {
    background:$grey!important;
    margin-left:10px;
    width:auto;
    
  }
  .button {
    text-transform:uppercase;
  }
}

.content_backoffice.marginleft {
    margin-left: 250px;
  }

