.faceting {
  dd {
    a{
      color:$beige; 
      background:none;
      padding: 2px 5px;
    }
    .content{
      padding:10px 0;
    }
  }
    
  ul {
    padding:0;
    margin:0;
    li {
      color:$grey; 
      list-style:none;
      input{
        top: 3px;
        position: relative;
        margin-right:5px;
        cursor:pointer;
      }
    }
  }
}
