.faceting {
  dd { background:$white;
       padding:5px 8px;
       margin-bottom:10px!important;
       @include box_shaow_light;
    a{
      color:$red; 
      background:none;
      padding:0px;
      font-size:1.4em;
    }
    .content{
      padding:0px;
      padding-left:4px;
      padding-bottom:4px;
    }
  }
    
  ul {
    padding:0;
    margin:0;
    li {
      color:$grey; 
      list-style:none;
      input{
        top: 3px;
        position: relative;
        margin-right:5px;
        cursor:pointer;
        margin-bottom: 0;
        margin-top: 4px;
      }
    }
  }
}
.accordion {
  dd a:hover {
    background:none!important;  
  }
  dd.active a {
  background:none!important; 
  
  }
}
