body {
  font-size:0.9em;
  color:$grey!important;
  height:auto!important;
  background:#F7F7F7;
}
ul, ol, dl {
  font-size:0.9em;
}
p{
  font-size:1em;
  line-height: 1.3em;
  margin-bottom: 15px;
  }
li {
  font-size:1em;
  line-height: 1.3em;
  }
span {
  line-height:1.3em;
  }

.clear{
  clear:both;
}

