body {
  font-size:13px;
  color:#333333;
  height:auto!important;
  background:#F0F0F0;
}
p{
  font-size:13px;
  margin-bottom: 15px;
  line-height:17px;
  }
li {
  font-size:13px;
  line-height:17px;
}
span {
  line-height:17px;
}

.clear{
  clear:both;
}

h1 {
  color:$red;
  font-size:30px;
  @include font_titre;
}

h2 {
  color:$red;
  @include font_titre;
  font-size:1.2em;
  font-weight:bold;
}

h3 {
  margin:10px; 
  margin-top:5px!important;
  @include font_titre;
}

h4 {
  margin-bottom: 5px!important;
}

.panel {
  padding:10px;
}

table {
  width:100%;
}

