

@mixin font_titre {font-family: 'Bitter', serif;}

@mixin box_shaow {-moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
-o-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=180, Strength=15);}

@mixin box_shaow_light {
  box-shadow: 1px 0px 0px 0px rgba(119, 119, 119, 0.05), 0px 1px 0px 0px rgba(119, 119, 119, 0.1), 0px -1px 0px 0px rgba(119, 119, 119, 0.15), -1px 0px 0px 0px rgba(119, 119, 119, 0.20);
  -moz-box-shadow: 1px 0px 0px 0px rgba(119, 119, 119, 0.05), 0px 1px 0px 0px rgba(119, 119, 119, 0.1), 0px -1px 0px 0px rgba(119, 119, 119, 0.15), -1px 0px 0px 0px rgba(119, 119, 119, 0.20);
  -webkit-box-shadow: 1px 0px 0px 0px rgba(119, 119, 119, 0.05), 0px 1px 0px 0px rgba(119, 119, 119, 0.1), 0px -1px 0px 0px rgba(119, 119, 119, 0.15), -1px 0px 0px 0px rgba(119, 119, 119, 0.20);
}

header .top-bar {
  height:auto; 
  background:none;
  }
  
header {
  z-index:99;
  position:relative; 
  background:$white;
  }

/*NAVIGATION TOP*/
header .toptop { 
  background: #fff;
  .logo {
    position:absolute;
    z-index:2;
    img {
      height:121px;
    }
  }
  h1 {
    margin:0;
    img {
      margin-left:5px;
      width:70%;
      margin-top:5px;
    }
    span {
      font-size: 13px;
      margin-top: 5px;
      color:$red; 
      display:block; 
      @include font_titre;
      margin-left:5px;
    }
  }
  ul {
    margin:5px 0;
    background:none;
    width:100%;
    li {
      text-align:center; 
      padding:0 5px;
      a {
        padding:0!important;
        display:block;
        background:none!important;
      }
      span {
        display:block;
        font-size:13px!important;
        @include font_titre; 
        color:#BE272D;
      }    
      .red {
        background:$red; 
        padding:5px 0;
        span {
          color:#fff;
        }
      }  
      .blanc {
        padding:5px 0;
      } 
    }      
  }
}


/*NAVIGATION BOTTOM*/
header {
  .papier {
    @include box_shaow; 
    .top-bar {    
      line-height:0px!important; 
      .logo a { 
        padding:0!important;
        width: 150px;
        padding-top:3px!important;
        height:40px;
        img { 
          width:95%;
          margin-bottom:5px;
        }
      }
      .top-bar-section {
        ul{ 
          background:none!important;
          width:100%!important;
          li {
            a {
              @include font_titre;
              background:none!important;
              font-size:15px!important;
              line-height: 40px!important;
            }
            a:after {
              content:none!important;
            }
            .button {
              margin-top:0;
              background:$red!important;
              padding:0!important;
            }
          }
          .has-dropdown:hover {
            background:$red;
          }
          .has-form {
            background:none!important;
            padding: 0 6px;
            height: 40px;
            input, .button {
              top:5px;
            }
            .button {
              line-height: 29px!important;
            }
          }
        }
      }
    }
  }
}


/*sousmenu*/

.top-bar-section .has-dropdown.hover .sousmenu > .dropdown, .top-bar-section .has-dropdown.not-click:hover .sousmenu > .dropdown {
  display:block;
}


header {
  .papier .top-bar .top-bar-section ul.dropdown {
    background:$red!important;
    li:hover {
      background:#C9C6C6;
    }
    .dropdown {
      background:#C9C6C6!important;
      /*top:0;
      bottom:0;*/
      li:hover {
        background:$white!important;
        a {
          color:$grey;
        }
      }
      .dropdown {
        background:$white!important;
        a{
          color:$grey;
        }
      }
    }
  }
}



[data-magellan-expedition] {padding:0;}

/*slider*/
.orbit-container {
  /*margin-top:5px;*/
  margin-bottom:10px;
  .orbit-bullets {
    float:right!important;
    top:0!important;
     margin-bottom:15px!important;
  }
  .orbit-prev {
    background:image-url('slider_left.png') no-repeat left;
    height:58px;
    width:28px;
    span {
      border:0!important;
    } 
  }
  .orbit-next {
    background:image-url('slider_right.png') no-repeat right;
    height:58px;
    width:28px;
    span {
      border:0!important;
    } 
  }
  a:hover {
    background-color:initial!important; 
  }
}





@media #{$large-up} {
  header .papier .top-bar{
    height: 40px;
  }
  
  header .toptop {
    h1{
      margin-left:160px;
    }
  }
  header .top-bar-section ul li a {
    font-size:1em; 
    line-height:2.4em;
  }
  
  header .topbot {
    height: 43px;
  }
}

@media #{$medium-up} { 
  
  header {
    .top-bar-section .has-dropdown {
      position: initial;
    }
    .top-bar-section .has-dropdown.relative {
      position:relative;
    }
    .papier .top-bar .top-bar-section ul.dropdown .dropdown {
      top:0;
      bottom:0;
    }
  }  
}


@media #{$small-only} { 
  .orbit-container {
    display:none;
  }
  header .papier {
    position:relative!important;
  }
  
}
