#home-actu {
  .panel {
    margin:0px 15px 30px 15px;
    background:$grey_light;
    padding:10px 0!important;
    @include box_shaow_light;
  }
  h3 {
    color:$white !important;
    border-bottom:solid 1px $white;
    padding-bottom:5px;
    @include font_titre;
    margin-left:10px;
    margin-right:10px;
  }
  ul {
    margin:0;
    padding:0;
    .columns {
      padding:0 10px;
    }
    li {
      list-style:none;
      .actu {
        background:$white;
        padding:10px;
        position:relative;
        h4 {
          color:$brown;
        }
        .date {
          font-size:0.8em;
          color:$grey;
          display:block;
        }
        img {
          float:left;
          margin:10px 10px 10px 0;
        }
        a {
          color:$white;
          padding:5px 8px;
          font-size:0.8em;
          @include font_titre;}
      }
      .padding {
        padding-bottom:10px;
      }
    }
  }
}