#home-actu {
  .panel {
    background:$grey_light;
    padding:4px 4px  1px 4px;
    @include box_shaow_light;
  }
  ul {
    margin:0;
    padding:0;
    .columns {
      padding:0 10px;
    }
    li {
      list-style:none;
      margin:10px 0;
      background:$white;
      padding:6px;
      .actu {

        h4 {
          color:$red;
        }
        .date {
          font-size:0.8em;
          color:$grey;
          display:block;
        }
        img {
          float:left;
          margin:10px 10px 10px 0;
        }
        a {
          float:right;
          background:$beige;
          color:$white;
          padding:5px 8px;
          font-size:0.8em;
          @include font_titre;
        }
      }
      .padding {
        padding-bottom:10px;
      }
    }
  }
}
