.information{ margin-bottom:20px; 
  ul { padding:0; margin:0;
    li {
      list-style:none; 
      clear:both;
      }
   }
  p {color:$brown_dark;}
  img {float:left;margin-right:10px;}
  h4 { color:$red; font-size:18px;}     
}

.block_value {
  background:#E9E8E7;
  padding:20px 0;
  .titreh2 .fondblanc {
    h2 {
      background:#E9E8E7;
    }
  }
  ul li img {
    float:none;
  }
}

.block_producers {
  background:#e1dddb;
  padding:20px 0;
  .titreh2 .fondblanc {
    h2 {
      background:#e1dddb;
    }
  }
  .imgproducer {
    margin-right:10px;
    margin-bottom:10px;
  }
}





