.clear {
  clear:both;
}

.homepage-list {
  margin-bottom:30px;
}

.titreh2 {
  background:image-url('bg_h2.gif') center repeat-x;
  .fondblanc {
    text-align:center;
    margin-bottom:15px;
    h2 {
      display:inline;
      margin:auto;
      background:#F0F0F0;
      padding:0 10px;
      color:$red;
      @include font_titre;
      text-transform:uppercase;
    }
  }
}

ul.list {
  padding:0;
  margin:0;
  li {
    list-style:none;
    position:relative;
    margin:20px 0;
    .label {
      background:none;
      position:absolute;
      top:0;left:0;
    }
    .list-img {
      height:165px;
      img {
        display:block;
        margin:auto;
      }
    }
    .desc-prix {
      h3 {
        display:block;
        font-size:1.2em!important;
        text-align:left;
      }
      .prix {
        span {
          color:$brown;
          font-size:2em;
          text-align:right;
        }
      }
    }
  }
}

.list-lien {
  text-align:right;
  font-size:0.8em;
  color:$brown;
  text-decoration:underline;
  display:block;
}
