.clear{clear:both}

.homepage-list {margin-bottom:30px;}

.titreh2 {background:image-url('bg_h2.gif') center repeat-x;
  .fondblanc { text-align:center;
    h2 {display:inline; margin:auto; background:#fff; padding:0 10px;color:$beige_fonce ;@include font_titre;text-transform:uppercase;}    
  } 
}

ul.list { padding:0; margin:0;
  li { list-style:none;position:relative;margin:20px 0;
    .label {background:none; position:absolute; top:0;left:0;}
    .list-img {height:165px;
      img {display:block; margin:auto;}
    }
    .desc-prix {
      span { display:block;font-size:0.8em;}
      .prix {
        span { color:$beige_fonce; font-size:1.3em; text-align:right;}
      }
    }   
    .voirproduit { background:$gris;padding:3px 0;margin-top:5px;
      a {color:$blanc; display:block;text-align:center;text-transform:uppercase;font-size:0.8em;}
    } 
  }
}

.list-lien { text-align:right; font-size:0.8em;color:$beige_fonce; text-decoration:underline;display:block;}
