.rassurance {padding:10px 0; margin-bottom:30px;
  .border-dashed{border-top:dashed 1px $red;border-bottom:dashed 1px $red;padding:5px 0;}
  li{list-style:none;text-align:center; margin:5px 0;}
}
