.rassurance {
  padding-top:10px; 
  margin-bottom:30px; 
  background:image-url('border_dashed.png') repeat-x top;
  .border-dashed{
    background:image-url('border_dashed.png') repeat-x bottom; 
    padding-bottom:10px;
  }
  li{
    list-style:none;
    text-align:center;
  }
}
