.pagelist {
  border-left:solid 1px #D5D5D5;
  padding:0 6px!important;
  margin-bottom:30px;
  .cbp-vm-switcher {
    /*margin-top:-42px;*/
  }
}

.cbp-vm-switcher .list li {
    display:block;
    position: relative;
    list-style:none;
    padding:10px;
    float:left!important;
    .product {
    background:$white;
    display:block;
    padding:4px; 
    @include box_shaow_light;    
    a {
      display:block;
    }
  }
}


/* options/select wrapper with switch anchors */
.cbp-vm-options {
  text-align: right;
}

.cbp-vm-options a {
  display: inline-block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  color: #d0d0d0;
  margin: 2px;
}

.cbp-vm-options a:hover,
.cbp-vm-options a.cbp-vm-selected {
  color:$grey;
}

.cbp-vm-options a:before {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  display: inline-block;
}

/* General style of switch items' list */

.cbp-vm-switcher ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Clear eventual floats */
.cbp-vm-switcher ul:before, 
.cbp-vm-switcher ul:after { 
  content: " "; 
  display: table; 
}

.cbp-vm-switcher ul:after { 
  clear: both; 
}


.cbp-vm-image {
  display: block;
  margin: 0 auto;
  img {
    display: inline-block;
    max-width: 100%;
    border: none;
  }
}


/* Common icon styles */
.cbp-vm-icon:before {
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.cbp-vm-grid:before {
  content: "\f00a";
}

.cbp-vm-list:before {
  content: "\f00b";
}

.cbp-vm-add:before {
  content: "\f055";
}

/* Individual view mode styles */

/* Large grid view */

.cbp-vm-view-grid .list {
  margin-top: -4px;
  a {    
    .producteur, .button {
    display:none;
    }
    .cbp-vm-image img {
      border:solid 1px #F7F7F7;
      width:100%;
    }
    .desc { margin:5px 0;
      p { 
        display:block; 
        font-size:17px;
        margin:0;
        text-align:left;
        color:#333333;
      }
      span {
        color:#AFAFAF;
        text-align:left;
        display:block; 
        margin:0; 
        font-size:0.9em;
      }
    }
    .label {
      background:none; 
      position:absolute; 
      top:-7px;
      left:-9px;
      img {
        width:80%;
      }
    }
    .image_prix {
      position:relative;
      .prix { 
        position:absolute;
        bottom:0; 
        right:0;
        z-index:2;
        span {
           background:$red; 
           color:$white; 
           font-size:17px; 
           text-align:right; 
           float:right; 
           display:inline-block; 
           padding:5px 10px;
        }
      }
    }    
  }
  .product:hover {
    background:#C0C0C0;
    .desc span {
      color:$white;
    }
  } 
}




.cbp-vm-view-grid ul {
  text-align: center;
}
.pagelist .cbp-vm-view-grid ul li {
  width: 25%;
}
.cbp-vm-view-grid ul li {  
  text-align: center;
  /*padding: 10px;*/
  margin:0;
  /*display: inline-block;*/
  float:left;
  vertical-align: top;
  position:relative;
}






/* List view */

.cbp-vm-view-list .cbp-vm-image,
.cbp-vm-view-list .desc,
.cbp-vm-view-list .producteur,
.cbp-vm-view-list .label{
  float:left;
  display: inline-block;
  vertical-align: middle;
}
.cbp-vm-view-list .prix,
.cbp-vm-view-list .button {
  float:right;
}

.cbp-vm-view-list .list{
  li{
    /*margin-top:6px;
    margin-bottom:20px;*/
   float:none!important;
   padding:10px 0;
  }
  padding: 0 8px;
  .desc {
    width:36%;
    margin:0 2%;
    p {
      color:$grey;
      font-size:20px;
      margin:0;
      margin-top:3px;
    }
    span {
      color:#AFAFAF;
    }
  }
  .producteur {
    width:16%;
    p {
      display:block;
      color:$grey;
      margin-bottom:10px;
    }
    .nom {
      background:$red;
      padding:2px 4px;
      color:$white;
      text-transform:uppercase;
    }
  } 
  .label{
    background:none;
    width:10%;
    position:relative!important;
    top:0!important; left:0!important;
  }
  .prix {
    width:24%;
    span {
      color:$red;
      font-size:26px;
      float:right;
      line-height:1em;
    }
  }  
  .button {
    width:20%;
  }
  p {
    margin:0;
  }
}



.cbp-vm-view-list .image_prix img {
  width: 10%;
  float:left;
}

/*
@media screen and (max-width: 57em) {
  .cbp-vm-view-grid ul li {
    width: 49% !important;
  }
}

@media screen and (max-width: 40.125em) {
  .cbp-vm-view-grid ul li {
    width: 100%!important;
  }
}*/
