#caracteristique.large-4.columns.left
	table
		tr
			th colspan="2"
				h3 Information supplémentaire
		tr
			td
				'Région
			td
				'Franche-Comté
		tr
			td
				'Métier
			td
				'Artiste